/**
 * Some administrative styles.
 */
.lyris-user-status {
  font-weight: bold;
  padding: 1em 2em;
  border: 1px solid #ccc;
  background-color: #eee;
}

/**
 * Override system.theme.css so field descriptions don't push tables over page boundaries.
 */
tr.odd .form-item .description,
tr.even .form-item .description {
  margin-top: 0;
  margin-bottom: 0;
  white-space: normal;
}

table.lyris-summary-table tr.totals td {font-weight: bold; border-top: 2px solid;}
table.lyris-field-perms td.status-0 {background-color: #ffeeee;}
table.lyris-field-perms td.status-1 {background-color: #ffffee;}
table.lyris-field-perms td.status-2 {background-color: #eeffee;}

table.lyris-field-perms .form-type-radio input.checked {font-weight: bold;}

.lyris-mode-indicator  {text-align: left;}
.lyris-mode-offline    {color: #660000;}
.lyris-mode-sandbox    {color: #666600;}
.lyris-mode-production {color: #006600;}

table#lyris-entity-fields td.status-col {width: 25px;}
table#lyris-entity-fields td.status-col > div {width: 24px; height: 24px; background-repeat: no-repeat;}

table th.select-all {width: 20px;}
table th.count {width: 20px;}
table th.status-icon {width: 30px;}

table#lyris-members tr.unsub td,
table#lyris-members tr.confirm td,
table#lyris-members tr.private td,
table#lyris-members tr.expired td,
table#lyris-members tr.held td,
table#lyris-members tr.referred td,
table#lyris-members tr.needs-confirm td,
table#lyris-members tr.needs-hello td,
table#lyris-members tr.needs-goodbye td {color: #999; font-style: italic;}

#lyris-help-tools .label {font-weight: bold;}
#lyris-help-tools ul.links {background-color: #ddd; border-radius: 20px; padding: 2px 5px; margin: 0;}
#lyris-help-tools ul.links li {padding: 0 .5em;}

#lyris-mailing .col {display: inline-block; width: 48%; vertical-align: top;}
#lyris-mailing .left {min-width: 400px;}
#lyris-mailing .right {min-width: 600px;}

#lyris-mailing-preview {
  padding: 1em;
  border-radius: 5px;
  background-color: #eee;
  border: 2px solid #999;
  box-shadow: 2px 2px 3px 0px rgba(100,100,100,.5);
}

#lyris-mailing-preview .subject {margin-bottom: 20px;}
#lyris-mailing-preview .label {display: inline-block; width: 100px; padding: .5em 0;}
#lyris-mailing-preview iframe#lyris-content-frame {border: 2px solid #999;}

iframe#lyris-content-frame {width: 95%; padding: .5em 1em; min-width: 625px; background-color: #fff;}
